name: Interface CI

on:
  push:
    branches: 
    - '**'
    tags-ignore: 
    - '**'
    paths-ignore:
      - '.github/*'
      - '.github/workflows/**.yml'
      - '.gitattributes'
      - '.gitignore'
      - 'docs/**'
      - '**.md'
      - 'LICENSE'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Restore packages
        run: dotnet restore Interface/FEZRepacker.Interface.csproj

      - name: Build for Windows
        run: dotnet publish Interface/FEZRepacker.Interface.csproj -c Release -r win-x64 --self-contained

      - name: Build for Linux
        run: dotnet publish Interface/FEZRepacker.Interface.csproj -c Release -r linux-x64 --self-contained

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: FEZRepacker.Interface.Windows
          path: |
            Interface/bin/Release/net6.0/win-x64/publish/FEZRepacker.Interface.exe
            Interface/bin/Release/net6.0/win-x64/publish/FEZRepacker.Interface.pdb
            Interface/bin/Release/net6.0/win-x64/publish/FEZRepacker.Core.pdb
          if-no-files-found: error

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: FEZRepacker.Interface.Linux
          path: |
            Interface/bin/Release/net6.0/linux-x64/publish/FEZRepacker.Interface
            Interface/bin/Release/net6.0/linux-x64/publish/FEZRepacker.Interface.pdb
            Interface/bin/Release/net6.0/linux-x64/publish/FEZRepacker.Core.pdb
          if-no-files-found: error
